<!DOCTYPE html>
<html lang="pt">
<head>
	<title>VacinON - Home</title>
</head>

<body>
	<div class="main-title">
		<h1>Vacin<font color="red">ON</font></h1>
	</div>
	<div>
		<ul class="toolbar">
			<li>
				<a href="#">Home</a>
			</li>
			<li>
				<a href="showlogin">Login</a>
			</li>
			<li>
				<a href="showlogout">Sair</a>
			</li>
		</ul>
		
	</div>
	{% if user %}
	<div>
		<h2>Seja bem vindo {{ user.username}}!</h2>
		<p>Dados pessoais:</p>
		<ul>
			<li>Sexo: {{user.sex}}</li>
			<li>Tipo sanguíneo: {{user.bloodType}}</li>
			<li>Nascimento: {{user.birthday}}</li>
		</ul>
		{% if user.allergies %}
		<h3>Alergias cadastradas:</h3>
		<table style="width: 40%">
			<tr>
				<th>Nome da alergia</th>
				<th>Severidade</th>
			</tr>
			{% for alergia in user.allergies %}
			<tr>
				<th>{{alergia.origin}}</th>
				{% if alergia.severity == "Risco de vida" %}
				<th><font color="red">{{alergia.severity}}</font></th>
				{% elif alergia.severity == "Grave" %}
				<th><font color="yellow">{{alergia.severity}}</font></th>
				{% elif alergia.severity == "Mediana" %}
				<th><font color="orange">{{alergia.severity}}</font></th>
				{% elif alergia.severity == "Leve" %}
				<th><font color="green">{{alergia.severity}}</font></th>
				{% else %}
				<th>{{alergia.severity}}</th>
				{% endif %}
			</tr>
			{% endfor %}
		</table>

		{% else %}
		<h3>Sem alergias cadastradas</h3>
		{% endif %}
	</div>
	{% else %}
	<div>
		<h2>Seja bem vindo!</h2>
	</div>
	{% endif %}

	{% if vacinas %}
	<div>
		<h3>Vacinas cadastradas:</h3>
		<table style="width:40%">
			<tr>
				<th>Tipo</th>
				<th>Data</th>
				<th>Lote</th>
			</tr>
			{% for vacina in vacinas %}
			<tr>
				<th> {{vacina.tipo}} </th>
				<th> {{vacina.data}} </th>
				<th> {{vacina.lote}} </th>
			</tr>
			{% endfor %}
		</table>
	</div>
	
	{% else %}
	<div>
		<h3>
			Sem vacinas cadastradas!
		</h3>
	</div>
	{% endif %}
	
</body>