<!DOCTYPE html>

<html lang="pt">

<head>
	<title>VacinON | SignUp</title>
</head>

<body>
	<dir class="mainInfo">
		<h1>Vacin<font color="red">ON</font></h1>
	</dir>
	<div class="toolbar">
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="#">Login / Cadastro</a>
			</li>
		</ul>
		
	</div>
	<div>
		<h2>Yey signUp page!!!</h2>
	</div>
	{% if session['logged_in'] %}
	<p>Você está logado</p>
	{% else %}
	<form action="/showsignup" method="POST">
		<div class="login">
			<div class="login-screen">
				<div class="app-tittle">
					<h1>Login</h1>
				</div>
				<div class="login-form">
					<div class="control-group">
						<input type="text" class="login-field" value="" name="username" placeholder="username">
						<!-- <label class="login-field-icon fui-user" for="login-name"></label> -->
					</div>

					<div class="control-group">
						<input type="password" class="login-field" value="" placeholder="password" name="password">
						<!-- <label class="login-field-icon fui-lock" for="login-pass"></label> -->
					</div>

					<input type="submit" value="Login" class="btn btn-primary btn-large btn-block">
				</div>
				
			</div>
			
		</div>
	</form>
  	{% endif %}
</body>